<!DOCTYPE html>
<html>
<head>
    <title>Configuração de Mensagem do WhatsApp</title>
</head>
<body>

    <h1>Configurações</h1>

    <form action="/send_msg_to_all" method="post">
        Mensagem: <input type="text" name="message"><br>
        Secret Key: <input type="text" name="secret_key"><br>
        Phone Number ID: <input type="text" name="phone_number_id"><br>
        Bearer Token: <input type="text" name="bearer_token"><br>
        Nome do arquivo xlsx: <input type="text" name="xlsx_file"><br>
        <input type="submit" value="Enviar Mensagens">
    </form>

</body>
</html>
